@import '../_vars.scss';
@import '../_mixin.scss';

@media screen and (max-width: 1000px) {
    main {
        .content {
            margin-top: 200px;
            align-items: center;
            justify-content: center;

            #zmeya-1 {
                position: absolute;
                bottom: -163%;
                left: -10%;
                z-index: 99;

                width: 616.155px;
                height: 595.301px;
            }

            #zmeya-2 {
                position: absolute;
                bottom: -100px;
                right: 0;
                z-index: 99;
                width: 498.307px;
                height: 480.78px;
            }

            #smile-1 {
                position: absolute;
                top: -135px;
                left: 17%;
                z-index: 99;
                animation: notFoundVibrate 2s ease 0s infinite normal forwards;
                animation-play-state: paused;
            }

            #smile-2 {
                display: none;
                position: absolute;
                top: -50px;
                left: 22%;
                right: 0px;
                z-index: 101;
                animation: notFoundEyes1 2s ease 0s infinite normal forwards;
                animation-play-state: paused;
            }

            #smile-3 {
                position: absolute;
                top: -42%;
                right: 35%;
                z-index: 101;
                animation: notFoundShake 2s ease 0s infinite normal forwards;
                animation-play-state: paused;
            }

            #smile-4 {
                position: absolute;
                bottom: -115%;
                left: 3%;
                top: unset;
                right: unset;
                z-index: 99;
                animation-play-state: paused;
            }

            #smile-5 {
                position: absolute;
                bottom: -139%;
                left: 57%;
                z-index: 99;
                animation: notFoundShake 3.5s ease 0s infinite normal forwards;
                animation-play-state: paused;
            }

            #smile-6 {
                position: absolute;
                bottom: -65px;
                right: 65%;
                z-index: 101;
                width: 92.614px;
                height: 92.614px;
                transform: rotate(3.972deg);
                animation: notFoundVibrate 1.5s ease 0s infinite normal forwards;
                animation-play-state: paused;
            }

            #smile-7 {
                position: absolute;
                bottom: -60%;
                right: 10%;
                z-index: 99;
                transform: rotateY(-26.54deg);
                animation: notFoundEyes1 3s ease 0s infinite normal forwards;
                animation-play-state: paused;
            }

            &__container {
                position: relative;
                z-index: 100;
                display: flex;
                flex-direction: column;
                padding: $margin-l $margin-l;
                border-radius: $border-radius-xl;
                background: linear-gradient(103deg, rgba(249, 104, 255, 0.1) 0%, rgba(151, 255, 198, 0.1) 100%);

                backdrop-filter: blur(10px);
            }

            &__title {
                font-size: 64px;
            }

            &__description {
                font-size: 24px;
            }
        }
    }
}
