@import '../_vars.scss';
@import '../_mixin.scss';
@import '../_animation.scss';

.important {
    padding-bottom: 160px;
    &__container {
        max-width: unset;
        .important__slider {
            position: relative;
            width: 1856px;
            margin: 0 auto;
            .slide {
                height: 800px;
                border-radius: $border-radius-xl;
                border: 1px solid #f0f6ff;
                background: #f5f5f5;
                display: flex;
                align-items: center;
                justify-content: start;
                background-size: cover;
                &__content {
                    padding: 197px 224px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: $margin-xs;
                    .slide__labels {
                        display: flex;
                        gap: $margin-xxs;
                        li {
                            // color: $primary-dark;
                            // font-size: 14px;
                            // font-style: normal;
                            // font-weight: 400;
                            // line-height: normal;
                            @include label;
                        }
                    }
                }
                h3 {
                    color: $primary-light;
                    font-size: 72px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin: 0;
                    max-width: 800px;
                }
                p {
                    color: $primary-light;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0;
                    max-width: 800px;
                }
                a {
                    margin-top: auto;
                    @include button-default;
                    background-color: $primary-light;
                    color: $primary-blue;
                    font-weight: 500;
                }
            }
            .slick-arrow {
                font-size: 0;
                background-image: url('../../img/slider-arrow.svg');
                border: none;
                background-color: transparent;
                width: 64px;
                height: 64px;
            }
            .slick-prev {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 80px;
            }
            .slick-next {
                position: absolute;
                z-index: 1;
                top: 50%;
                right: 80px;
                transform: rotate(180deg);
            }
            .slick-dots {
                position: absolute;
                display: flex;
                gap: 8px;
                bottom: 32px;
                left: 50%;
                transform: translateX(-50%);
                list-style: none;
                li {
                    position: relative;
                    width: 12px;
                    height: 12px;
                    border-radius: $border-radius-m;
                    background: #f5f5f5;
                    transition: width 0.3s ease-in-out;
                    button {
                        display: none;
                    }
                    .progress-bar {
                        position: absolute;
                        left: 1px;
                        top: 1px;
                        right: 1px;
                        bottom: 1px;
                        // height: 100%;
                        width: 0;
                        background: $primary-blue;
                        border-radius: $border-radius-m;
                        transition: none;
                        z-index: 2;
                    }
                }
                .slick-active {
                    width: 120px !important;
                    position: relative;
                    .progress-bar {
                        animation: progressBar 5s linear forwards;
                    }
                }
            }
        }
    }
}
.events {
    padding-bottom: 160px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            @include header-section;
        }
        .events__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $margin-xs;
            margin-bottom: $margin-m;
            .card {
                @include card-item;
            }
        }
        .events__button {
            @include button-outlined;
        }
    }
}

.party {
    &__container {
        padding: 42px 60px;
        border-radius: 64px;
        background: #f1f5ff;
        h2 {
            @include header-section;
        }
        .party__slider {
            .slide {
                margin: 0 6px;
                width: 450px;
                height: 692px;
                display: flex;
                flex-direction: column;
                padding: 24px;
                border-radius: 32px;
                background: $primary-light;
                img {
                    border-radius: $border-radius-m;
                    object-fit: cover;
                    margin-bottom: $margin-xs;
                }
                h3 {
                    color: $primary-dark;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0;
                }
                &__prize {
                    margin-bottom: $margin-xs;
                    margin-top: auto;
                    position: relative;
                    background-color: $primary-blue;
                    padding: $margin-xs;
                    border-radius: $border-radius-m;
                    h4 {
                        color: $primary-light;
                        font-size: 31px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        display: inline-flex;
                        gap: $margin-xxs;
                        padding: 4px 8px;
                        border-radius: $border-radius-s;
                        background: $primary-light;
                        color: $primary-dark;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        span {
                            color: $error-color;
                            font-weight: 500;
                        }
                    }
                    img {
                        position: absolute;
                        width: 151px;
                        transform: rotate(12deg);
                        bottom: 0;
                        right: 8px;
                    }
                }
                &__buttons {
                    display: flex;
                    gap: $margin-xs;
                    a {
                        text-decoration: none;
                        &:first-child {
                            @include button-outlined;
                            border-radius: 62px;
                            gap: 8px;
                        }
                        &:last-child {
                            @include button-yellow;
                        }
                    }
                }
            }
        }
    }
}
