@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), local("Roboto Regular"), url("../../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"), local("Roboto Medium"), url("../../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-SemiBold"), local("Roboto SemiBold"), url("../../fonts/Roboto-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), local("Roboto Bold"), url("../../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: calc(100% - 2px);
  }
}
.important {
  padding-bottom: 160px;
}
.important__container {
  max-width: unset;
}
.important__container .important__slider {
  position: relative;
  width: 1856px;
  margin: 0 auto;
}
.important__container .important__slider .slide {
  height: 800px;
  border-radius: 42px;
  border: 1px solid #f0f6ff;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: start;
  background-size: cover;
}
.important__container .important__slider .slide__content {
  padding: 197px 224px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}
.important__container .important__slider .slide__content .slide__labels {
  display: flex;
  gap: 4px;
}
.important__container .important__slider .slide__content .slide__labels li {
  padding: 4px 8px;
  border-radius: 10px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
}
.important__container .important__slider .slide h3 {
  color: #ffffff;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  max-width: 800px;
}
.important__container .important__slider .slide p {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  max-width: 800px;
}
.important__container .important__slider .slide a {
  margin-top: auto;
  display: flex;
  height: 56px;
  padding: 20px 42px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: #ffffff;
  color: #142bfd;
  font-weight: 500;
}
.important__container .important__slider .slide a svg path {
  transition: fill 0.3s ease-in-out;
}
.important__container .important__slider .slick-arrow {
  font-size: 0;
  background-image: url("../../img/slider-arrow.svg");
  border: none;
  background-color: transparent;
  width: 64px;
  height: 64px;
}
.important__container .important__slider .slick-prev {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 80px;
}
.important__container .important__slider .slick-next {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 80px;
  transform: rotate(180deg);
}
.important__container .important__slider .slick-dots {
  position: absolute;
  display: flex;
  gap: 8px;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
}
.important__container .important__slider .slick-dots li {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #f5f5f5;
  transition: width 0.3s ease-in-out;
}
.important__container .important__slider .slick-dots li button {
  display: none;
}
.important__container .important__slider .slick-dots li .progress-bar {
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: 0;
  background: #142bfd;
  border-radius: 12px;
  transition: none;
  z-index: 2;
}
.important__container .important__slider .slick-dots .slick-active {
  width: 120px !important;
  position: relative;
}
.important__container .important__slider .slick-dots .slick-active .progress-bar {
  animation: progressBar 5s linear forwards;
}

.events {
  padding-bottom: 160px;
}
.events__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events__container h2 {
  position: relative;
  color: #142bfd;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.events__container h2 span {
  color: #0d0d12;
  position: relative;
}
.events__container h2 span img {
  position: absolute;
  bottom: 0;
  transform: rotate(-8deg);
  width: 68px;
  height: 68px;
  border-radius: 24px;
}
.events__container .events__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-bottom: 32px;
}
.events__container .events__grid .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f6ff;
  border-radius: 24px;
  padding: 20px;
}
.events__container .events__grid .card__title {
  height: 70px;
  margin-bottom: 24px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  color: #0d0d12;
}
.events__container .events__grid .card__labels {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.events__container .events__grid .card__labels__item {
  padding: 4px 8px;
  border-radius: 10px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
}
.events__container .events__grid .card__dates {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 32px;
}
.events__container .events__grid .card__dates p {
  font-size: 14px;
  font-weight: 400;
  color: #727272;
}
.events__container .events__grid .card__dates span {
  font-size: 16px;
  font-weight: 500;
}
.events__container .events__grid .card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.events__container .events__grid .card__wrapper p {
  font-size: 14px;
  font-weight: 500;
}
.events__container .events__grid .card__wrapper button {
  display: flex;
  height: 56px;
  padding: 20px 42px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: #142bfd;
  width: 100%;
}
.events__container .events__grid .card__wrapper button svg path {
  transition: fill 0.3s ease-in-out;
}
.events__container .events__grid .card__wrapper button:hover {
  background-color: #0013c2;
}
.events__container .events__button {
  display: flex;
  height: 56px;
  padding: 20px 42px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: transparent;
  border: 1px solid #142bfd;
  color: #142bfd;
}
.events__container .events__button svg path {
  transition: fill 0.3s ease-in-out;
}
.events__container .events__button:hover {
  background-color: #142bfd;
  color: #ffffff;
}
.events__container .events__button:hover svg path {
  fill: #ffffff;
}

.party__container {
  padding: 42px 60px;
  border-radius: 64px;
  background: #f1f5ff;
}
.party__container h2 {
  position: relative;
  color: #142bfd;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.party__container h2 span {
  color: #0d0d12;
  position: relative;
}
.party__container h2 span img {
  position: absolute;
  bottom: 0;
  transform: rotate(-8deg);
  width: 68px;
  height: 68px;
  border-radius: 24px;
}
.party__container .party__slider {
  position: relative;
  padding-bottom: 108px;
}
.party__container .party__slider .slide {
  margin: 0 6px;
  width: 450px;
  height: 692px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 32px;
  background: #ffffff;
}
.party__container .party__slider .slide img {
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 12px;
}
.party__container .party__slider .slide h3 {
  color: #0d0d12;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.party__container .party__slider .slide__prize {
  margin-bottom: 12px;
  margin-top: auto;
  position: relative;
  background-color: #142bfd;
  padding: 12px;
  border-radius: 12px;
}
.party__container .party__slider .slide__prize h4 {
  color: #ffffff;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.party__container .party__slider .slide__prize p {
  margin: 0;
  display: inline-flex;
  gap: 4px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
  color: #0d0d12;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.party__container .party__slider .slide__prize p span {
  color: #bf1a37;
  font-weight: 500;
}
.party__container .party__slider .slide__prize img {
  position: absolute;
  width: 151px;
  transform: rotate(12deg);
  bottom: 0;
  right: 8px;
}
.party__container .party__slider .slide__buttons {
  display: flex;
  gap: 12px;
}
.party__container .party__slider .slide__buttons a {
  text-decoration: none;
}
.party__container .party__slider .slide__buttons a:first-child {
  display: flex;
  height: 56px;
  padding: 20px 42px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: transparent;
  border: 1px solid #142bfd;
  color: #142bfd;
  border-radius: 62px;
  gap: 8px;
}
.party__container .party__slider .slide__buttons a:first-child svg path {
  transition: fill 0.3s ease-in-out;
}
.party__container .party__slider .slide__buttons a:first-child:hover {
  background-color: #142bfd;
  color: #ffffff;
}
.party__container .party__slider .slide__buttons a:first-child:hover svg path {
  fill: #ffffff;
}
.party__container .party__slider .slide__buttons a:last-child {
  display: flex;
  height: 56px;
  padding: 20px 42px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: #daff62;
  color: #0d0d12;
}
.party__container .party__slider .slide__buttons a:last-child svg path {
  transition: fill 0.3s ease-in-out;
}
.party__container .party__slider .slide__buttons a:last-child:hover {
  background-color: #bbe436;
}
.party__container .party__slider .slick-arrow {
  font-size: 0;
  background-image: url("../../img/slider-arrow.svg");
  border: none;
  background-color: transparent;
  width: 64px;
  height: 64px;
}
.party__container .party__slider .slick-prev {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: calc(50% - 74px);
}
.party__container .party__slider .slick-next {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: calc(50% - 74px);
  transform: rotate(180deg);
}/*# sourceMappingURL=style-index.css.map */