@import './_vars.scss';

@mixin label {
    padding: $margin-xxs 8px;
    border-radius: $border-radius-s;
    white-space: nowrap;

    font-size: 14px;
    font-weight: 400;
}

@mixin button-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@mixin button-default {
    display: flex;
    height: 56px;
    padding: 20px 42px;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-m;
    color: $primary-light;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@mixin button-main {
    @include button-default;
    background-color: $primary-blue;

    &:hover {
        background-color: $primary-blue-hover;
    }
}

@mixin button-yellow {
    @include button-default;
    background-color: $yellow;
    color: $primary-dark;
    &:hover {
        background-color: $yellow-hover;
    }
}

@mixin button-green {
    @include button-default;
    background-color: $success-color;

    &:hover {
        background-color: $success-hover-color;
    }
}

@mixin button-outlined {
    @include button-default;
    background-color: transparent;
    border: 1px solid $primary-blue;
    color: $primary-blue;
}

@mixin button-outlined-v2 {
    @include button-default;
    background-color: #f0f6ff;
    color: $primary-blue;
}

@mixin card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f6ff;
    border-radius: $border-radius-l;
    padding: $margin-s;

    &__title {
        height: 70px;
        margin-bottom: 24px;
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        color: $primary-dark;
    }

    &__labels {
        margin-bottom: $margin-m;

        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        &__item {
            @include label;
        }
    }

    &__dates {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: $margin-m;

        p {
            font-size: 14px;
            font-weight: 400;
            color: #727272;
        }

        span {
            font-size: 16px;
            font-weight: 500;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        p {
            font-size: 14px;
            font-weight: 500;
        }

        button {
            @include button-main;
            width: 100%;
        }
    }
}
@mixin header-section {
    position: relative;
    color: #142bfd;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    span {
        color: #0d0d12;
        position: relative;
        img {
            position: absolute;
            bottom: 0;
            transform: rotate(-8deg);
            width: 68px;
            height: 68px;
            border-radius: 24px;
        }
    }
}
