$primary-dark: #0d0d12;
$primary-blue: #142bfd;
$primary-light: #ffffff;
$secondary-blue: #6e6ef6;
$secondary-light: #b5c1d8;
$error-color: #bf1a37;
$succses-color: #00c006;

$margin-xxs: 4px;
$margin-xs: 12px;
$margin-s: 20px;
$margin-m: 32px;
$margin-l: 48px;
$margin-xl: 64px;
