$primary-dark: #0d0d12;
$primary-blue: #142bfd;
$primary-blue-hover: #0013c2;
$primary-light: #ffffff;
$secondary-blue: #6e6ef6;
$secondary-light: #b5c1d8;
$error-color: #bf1a37;
$success-color: #00c006;
$success-hover-color: #009605;
$yellow: #daff62;
$yellow-hover: #bbe436;

$margin-xxs: 4px;
$margin-xs: 12px;
$margin-s: 20px;
$margin-m: 32px;
$margin-l: 48px;
$margin-xl: 64px;

$border-radius-xs: 8px;
$border-radius-s: 10px;
$border-radius-m: 12px;
$border-radius-l: 24px;
$border-radius-xl: 42px;
