@import '../_vars.scss';
@import '../_mixin.scss';

html {
    box-sizing: border-box;
    // padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    // padding-top: 42px;
    background-color: $primary-light;
    position: relative;
}
button {
    font-family: 'Roboto';
}
input {
    font-family: 'Roboto';
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1376px;
    margin: 0 auto;
}

.header {
    background-color: $primary-light;
    &__container {
        padding: $margin-m;
        max-width: unset;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__logos {
            display: flex;
            gap: $margin-s;
            span {
                min-height: 100%;
                min-width: 1px;
                background-color: $primary-dark;
            }
            img {
            }
            div {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
        .nav {
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                gap: $margin-m;
                li {
                    a {
                        color: $primary-dark;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-decoration: none;
                        transition: color 0.3s ease-in-out;
                        padding: 10px 0;
                        &:hover {
                            color: $primary-blue;
                        }
                    }
                }
            }
        }
        .header__link {
            @include button-default;
            color: $primary-blue;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            background-color: #f0f6ff;
            &:hover {
                background-color: $primary-blue;
                color: $primary-light;
            }
        }
    }
}
.footer {
    position: relative;
    z-index: 110;
    background-color: $primary-dark;
    border-radius: $border-radius-xl $border-radius-xl 0 0;
    &__container {
        padding: 42px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: $margin-xl;
        .footer__wrap {
            &-left {
                max-width: 911px;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 24px;
                p {
                    color: $primary-light;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0;
                }
            }
            &-right {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: $margin-s;
                .footer__logo {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
                p {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    color: $primary-light;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0;
                    span {
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
            &-bottom {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: $margin-xl;
                .footer__links {
                    display: flex;
                    gap: $margin-m;
                    a {
                        color: $primary-light;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
                p {
                    color: $primary-light;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}
