@media (max-width: 1440px) {
    .container {
        margin: 0 32px;
    }
}
@media (max-width: 1360px) {
    .header {
        &__container {
            // position: relative;
            gap: 30px;
            .burger-button {
                z-index: 1000;
                display: block;
                span {
                    &:first-child {
                    }
                    &:nth-child(2) {
                    }
                    &:last-child {
                    }
                }
                &:hover {
                    span {
                    }
                }
            }
            .header__logos {
                gap: $margin-xs;
                span {
                }
                img {
                }
                div {
                }
            }
            .nav {
                display: none;
                background-color: $primary-light;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100;
                padding: 120px 32px 32px 32px;
                width: 50%;
                border-radius: 0 0 42px 0;
                -webkit-box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
                box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
                ul {
                    flex-direction: column;
                    li {
                        a {
                        }
                    }
                }
            }
            .header__link {
                padding: $margin-s;
            }
        }
    }
    .footer {
        &__container {
            .footer__wrap {
                &-left {
                    max-width: 413px;
                    p {
                    }
                }
                &-right {
                    .footer__logo {
                    }
                    p {
                        span {
                        }
                    }
                }
                &-bottom {
                    .footer__links {
                        a {
                        }
                    }
                    p {
                    }
                }
            }
        }
    }
}
