@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), local("Roboto Regular"), url("../../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"), local("Roboto Medium"), url("../../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-SemiBold"), local("Roboto SemiBold"), url("../../fonts/Roboto-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), local("Roboto Bold"), url("../../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  position: relative;
}

button {
  font-family: "Roboto";
}

input {
  font-family: "Roboto";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1376px;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
}
.header__container {
  padding: 32px;
  max-width: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container .header__logos {
  display: flex;
  gap: 20px;
}
.header__container .header__logos span {
  min-height: 100%;
  min-width: 1px;
  background-color: #0d0d12;
}
.header__container .header__logos div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__container .nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 32px;
}
.header__container .nav ul li a {
  color: #0d0d12;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding: 10px 0;
}
.header__container .nav ul li a:hover {
  color: #142bfd;
}
.header__container .header__link {
  display: flex;
  height: 56px;
  padding: 20px 42px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: #142bfd;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  background-color: #f0f6ff;
}
.header__container .header__link:hover {
  background-color: #142bfd;
  color: #ffffff;
}

.footer {
  position: relative;
  z-index: 110;
  background-color: #0d0d12;
  border-radius: 42px 42px 0 0;
}
.footer__container {
  padding: 42px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 64px;
}
.footer__container .footer__wrap-left {
  max-width: 911px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}
.footer__container .footer__wrap-left p {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.footer__container .footer__wrap-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer__container .footer__wrap-right .footer__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__container .footer__wrap-right p {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.footer__container .footer__wrap-right p span {
  font-size: 18px;
  font-weight: 600;
}
.footer__container .footer__wrap-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.footer__container .footer__wrap-bottom .footer__links {
  display: flex;
  gap: 32px;
}
.footer__container .footer__wrap-bottom .footer__links a {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer__container .footer__wrap-bottom p {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style-general.css.map */