@import '../_vars.scss';
@import '../_mixin.scss';
@import '../_animation.scss';

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: $primary-light;
    position: relative;
    overflow-x: hidden;
}

button {
    font-family: 'Roboto';
}

input {
    font-family: 'Roboto';
}

a {
    @include link;
}

p,
h1,
h2,
h3,
span {
    color: $primary-dark;
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    margin-bottom: 32px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 400;
}

main {
    .banner {
        border-radius: $border-radius-xl;
        background-color: #fff;
        padding: 98px 0px;
        margin: 0 32px $margin-xl;
        position: relative;
        overflow: hidden;
        #banner-bg {
            z-index: 10;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            background-image: url('../../img/banner-grid.svg');
            background-size: cover;
        }
        #banner-1-ellipse {
            z-index: 1;
            position: absolute;
            top: -314px;
            right: -183px;
            width: 705.06px;
            height: 992.913px;
            transform: rotate(29.535deg);
            flex-shrink: 0;
            border-radius: 992.913px;
            background: rgba(20, 43, 253, 0.6);
            filter: blur(120px);
            animation: rotateBanner 20s ease 0s infinite normal forwards;
            animation-play-state: paused;
        }
        #banner-2-ellipse {
            z-index: 1;
            position: absolute;
            top: -99px;
            left: -343px;
            width: 561.115px;
            height: 988.05px;
            transform: rotate(23.3deg);
            flex-shrink: 0;
            border-radius: 988.05px;
            background: rgba(20, 43, 253, 0.6);
            filter: blur(120px);
            animation: rotateBanner 18s ease 0s infinite normal forwards;
            animation-play-state: paused;
        }
        #banner-3-ellipse {
            z-index: 1;
            position: absolute;
            top: 150px;
            left: 292px;
            width: 545.344px;
            height: 960.28px;
            transform: rotate(-15deg);
            flex-shrink: 0;
            border-radius: 960.28px;
            opacity: 0.6;
            background: rgba(20, 43, 253, 0.6);
            filter: blur(120px);
            animation: rotateBanner 15s ease 0s infinite normal forwards;
            animation-play-state: paused;
        }
        #banner-4-ellipse {
            z-index: 1;
            position: absolute;
            top: -157px;
            left: 40%;
            width: 304.345px;
            height: 535.912px;
            transform: rotate(-15deg);
            flex-shrink: 0;
            border-radius: 535.912px;
            opacity: 0.6;
            background: rgba(20, 43, 253, 0.6);
            filter: blur(120px);
            animation: rotateBanner 12s ease 0s infinite normal forwards;
            animation-play-state: paused;
        }
        &__container {
            display: flex;
            position: relative;
            z-index: 100;
            flex-direction: column;
            margin: 0 auto;
            padding: 0px 32px;
            align-items: center;
            gap: $margin-xs;
        }

        &__labels {
            display: flex;
            gap: $margin-xxs;

            &__item {
                @include label;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: $margin-xs;
            margin-bottom: $margin-xl;

            &__title {
                font-size: 72px;
                font-weight: 700;
                text-align: center;
                line-height: normal;
            }

            &__description {
                font-size: 20px;
                font-weight: 400;
                text-align: center;
            }
        }

        &__button {
            @include button-main;
        }
    }

    .catalog {
        position: relative;

        svg {
            position: absolute;
            z-index: 100;
        }

        .svg-1 {
            top: 275px;
            right: 0px;
        }

        .svg-2 {
            top: 663px;
        }

        .svg-3 {
            right: -154px;
            bottom: -346px;
        }

        button {
            position: relative;
            z-index: 110;
            @include button-outlined;
            max-width: 212px;
            align-self: center;
            margin-bottom: $margin-m;
        }

        &__container {
            display: flex;
            flex-direction: column;
            gap: $margin-m;
        }

        &__inputs {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: $margin-m;

            &__switch {
                display: flex;
                gap: 8px;
                align-items: center;

                p {
                    font-size: 16px;
                    font-weight: 500;
                }

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 41px;
                    height: 23px;
                }

                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                .slider:before {
                    position: absolute;
                    content: '';
                    height: 16px;
                    width: 16px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                input:checked + .slider {
                    background-color: #00c006;
                }

                input:focus + .slider {
                    box-shadow: 0 0 1px #00c006;
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(16px);
                    -ms-transform: translateX(16px);
                    transform: translateX(16px);
                }

                .slider.round {
                    border-radius: 34px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }
            }

            &__search {
                display: flex;
                width: 341px;
                height: 60px;
                gap: 8px;
                border-radius: $border-radius-m;
                border: 1px solid #f0f6ff;
                background: linear-gradient(270deg, #f0f6ff 0%, #fff 100%);

                button {
                    @include button-reset;
                    margin-bottom: 0;
                    min-width: 20px;
                    padding-left: $margin-s;
                    svg {
                        path {
                            transition: stroke 0.3s ease-in-out;
                        }
                    }
                    &:hover {
                        background-color: transparent;
                        svg {
                            path {
                                stroke: $primary-blue;
                            }
                        }
                    }
                }

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: $margin-s;
                    background: linear-gradient(270deg, #f0f6ff 0%, #fff 100%);
                }
            }
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $margin-xs;
            z-index: 100;
            margin-bottom: 32px;

            .card {
                @include card-item;
                z-index: 110;
            }
            .catalog__grid__item {
                animation-fill-mode: both;
            }
        }
    }
}
