@import '../fonts.scss';
@import '_common-detail.scss';
@import '_media-detail1024.scss';
@import '_media-detail720.scss';
@import '_media-detail320.scss';

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: $primary-light;
    position: relative;
    overflow-x: hidden;
}

button {
    font-family: 'Roboto';
}

input {
    font-family: 'Roboto';
}

a {
    @include link;
}

p,
h1,
h2,
h3,
span {
    color: $primary-dark;
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    margin-bottom: 32px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 400;
}

.banner {
    margin-bottom: $margin-xl;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 68px 32px;

        background-image: url('../../img/banner-detail.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 42px;
        border: 1px solid #f0f6ff;
    }

    &__labels {
        display: flex;
        gap: $margin-xxs;

        &__item {
            @include label;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: $margin-xs;
        margin-bottom: $margin-xl;
        max-width: 910px;

        &__title {
            font-size: 72px;
            font-weight: 700;
            text-align: center;
            line-height: normal;
            color: white;
        }

        &__description {
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            line-height: normal;
            color: $primary-light;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        gap: 20px;

        &__button {
            @include button-main;
        }

        &__button-2 {
            @include button-green;
        }

        &__description {
            p {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 2px;
            }

            span {
                font-size: 16px;
                font-weight: 500;
            }

            p,
            span {
                color: $primary-light;
            }
        }
    }
}

main {
    .master {
        &__container {
            display: flex;
            gap: $margin-l;
        }

        &__main {
            width: 70%;

            &__title {
                margin-bottom: 42px;
                font-size: 32px;
                font-weight: 600;
                color: $primary-dark;
            }

            &__wrap {
                margin-bottom: $margin-l;

                &__description {
                    color: $primary-dark;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: $margin-s;

                    a {
                        font-size: 16px;
                        font-weight: 500;
                        color: $primary-blue;
                    }
                }

                &__question {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: $margin-xs;
                }

                &__list {
                    margin: 0;
                    padding: 0;
                    list-style: numeric inside;
                    margin-bottom: $margin-s;
                    &__item {
                        font-size: 16px;
                        font-weight: 400;

                        span {
                            font-weight: 500;
                        }
                    }
                }

                &__card {
                    display: flex;
                    flex-direction: column;
                    padding: $margin-s;
                    gap: $margin-xs;

                    border-radius: 12px 42px 12px 12px;
                    border-left: 1px solid $primary-blue;

                    background: #f0f6ff;

                    &__title {
                        font-size: 16px;
                        font-weight: 500;
                        color: $primary-blue;
                    }

                    &__description {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }

            &__section {
                margin-bottom: 160px;

                &__title {
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: $margin-s;
                }

                &__wrap {
                    display: flex;
                    flex-direction: column;
                    gap: $margin-xs;
                    margin-bottom: $margin-xs;

                    p {
                        line-height: normal;
                    }

                    &__text {
                        margin-bottom: $margin-l;
                    }

                    &__date {
                        display: flex;
                        max-width: 230px;
                        padding: $margin-xs $margin-s;
                        gap: $margin-xxs;
                        border-radius: 50px;
                        background: #f5f5f5;
                        align-items: center;
                        justify-content: center;

                        span {
                            font-size: 14px;
                            font-weight: 400;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }

                img {
                    width: 100%;
                    border-radius: $border-radius-l;
                    margin-bottom: $margin-xs;
                }
            }
        }

        &__aside {
            width: 30%;

            &__card {
                display: flex;
                flex-direction: column;
                gap: $margin-s;
                margin-top: $margin-s;
                margin-bottom: $margin-xxs;
                padding: $margin-s;
                background-color: #f0f6ff;
                border-radius: $border-radius-l;

                &__title {
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;
                }

                &__wrap {
                    p {
                        margin-bottom: 2px;
                        font-size: 14px;
                        font-weight: 400;
                        color: #727272;
                    }

                    strong {
                        font-weight: 500;
                        font-size: 16px;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 400;
                    }

                    a {
                        color: $primary-blue;
                        text-decoration: underline;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }

            &__wrap {
                display: flex;
                flex-direction: column;
                gap: $margin-xs;
                padding: $margin-s;
                margin-bottom: $margin-xs;
                background-color: #f0f6ff;
                border-radius: $border-radius-l;

                &__text {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    justify-content: center;

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        color: #727272;
                    }

                    strong {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                p,
                strong {
                    text-align: center;
                }

                &__buttons {
                    display: flex;
                    flex-direction: column;
                    gap: $margin-xs;

                    &__item:first-child {
                        @include button-main;
                    }

                    &__item:last-child {
                        @include button-green;
                    }
                }
            }

            &__reglament {
                display: flex;
                flex-direction: column;
                gap: $margin-xs;
                margin-bottom: $margin-xxs;
                padding: $margin-s;
                background-color: #f0f6ff;
                border-radius: $border-radius-l;

                &__title {
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;
                    margin-bottom: $margin-s;
                }

                ul {
                    li {
                        display: flex;
                        align-items: center;
                        gap: $margin-xs;

                        button {
                            @include button-reset;
                        }

                        div {
                            p {
                                font-size: 16px;
                                font-weight: 500;
                            }

                            span {
                                font-size: 14px;
                                font-weight: 400;
                                color: #727272;
                            }
                        }
                    }

                    li:first-child {
                        margin-bottom: $margin-s;
                    }
                }
            }

            &__socials {
                display: flex;
                gap: 8px;
                padding: $margin-s;
                background-color: #f0f6ff;
                border-radius: $border-radius-l;
            }
        }
    }

    .banner-big {
        width: 100%;
        background-color: $primary-blue;
        margin-bottom: 160px;
        padding: 120px 0;

        &__container {
            border-radius: $border-radius-l;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            padding: $margin-l;
        }

        &__title {
            margin-bottom: $margin-s;
            color: $primary-light;
            font-size: 64px;
            font-weight: 600;
        }

        &__wrap {
            display: flex;
            flex-direction: column;
            gap: $margin-xs;
            margin-bottom: $margin-l;

            big {
                font-size: 20px;
                font-weight: 600;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
            }

            big,
            p {
                color: $primary-light;
            }
        }

        ul {
            display: flex;
            gap: $margin-s;
            align-items: center;

            li {
                display: flex;
                align-items: center;
                gap: $margin-xs;
                margin: 0;

                button {
                    @include button-reset;
                }

                div {
                    p {
                        font-size: 16px;
                        font-weight: 500;
                        color: $primary-light;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 400;
                        color: $primary-light;
                    }
                }
            }
        }
    }

    .winners {
        z-index: 100;
        position: relative;
        margin-bottom: 160px;

        svg {
            z-index: 99;
            position: absolute;
            bottom: -225px;
            right: -0px;
        }

        &__container {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            position: relative;
            padding: $margin-l 60px;
            flex-direction: column;
            border-radius: $border-radius-xl;
            background-color: #f1f5ff;
            z-index: 100;
        }

        &__title {
            font-size: 64px;
            font-weight: 600;
            text-align: center;
            margin-bottom: $margin-xl;

            span {
                color: $primary-blue;
            }
        }

        .party__slider {
            position: relative;
            padding-bottom: 108px;
            .slide {
                position: relative;
                padding-bottom: 108px;
                margin: 0 6px;
                width: 450px;
                height: 692px;
                display: flex;
                flex-direction: column;
                padding: 24px;
                border-radius: 32px;
                background: $primary-light;
                img {
                    border-radius: $border-radius-m;
                    object-fit: cover;
                    margin-bottom: $margin-xs;
                }
                h3 {
                    color: $primary-dark;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0;
                }
                &__prize {
                    margin-bottom: $margin-xs;
                    margin-top: auto;
                    position: relative;
                    background-color: $primary-blue;
                    padding: $margin-xs;
                    border-radius: $border-radius-m;
                    h4 {
                        color: $primary-light;
                        font-size: 31px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        display: inline-flex;
                        gap: $margin-xxs;
                        padding: 4px 8px;
                        border-radius: $border-radius-s;
                        background: $primary-light;
                        color: $primary-dark;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        span {
                            color: $error-color;
                            font-weight: 500;
                        }
                    }
                    img {
                        position: absolute;
                        width: 151px;
                        transform: rotate(12deg);
                        bottom: 0;
                        right: 8px;
                    }
                }
                &__buttons {
                    display: flex;
                    gap: $margin-xs;
                    a {
                        text-decoration: none;
                        &:first-child {
                            @include button-outlined;
                            border-radius: 62px;
                            gap: 8px;
                        }
                        &:last-child {
                            @include button-yellow;
                        }
                    }
                }
                .slick-arrow {
                    font-size: 0;
                    background-image: url('../../img/slider-arrow.svg');
                    border: none;
                    background-color: transparent;
                    width: 64px;
                    height: 64px;
                }
                .slick-prev {
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: calc(50% - 74px);
                }
                .slick-next {
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    right: calc(50% - 74px);
                    transform: rotate(180deg);
                }
            }
        }
    }

    .projects {
        z-index: 100;
        position: relative;
        margin-bottom: 160px;

        svg {
            z-index: 99;
            position: absolute;
            top: 100px;
            left: 0;
        }

        &__container {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            position: relative;
            padding: $margin-l 60px;
            flex-direction: column;
            border-radius: $border-radius-xl;
            background-color: #f1f5ff;
            z-index: 100;
        }

        &__title {
            font-size: 64px;
            font-weight: 600;
            text-align: center;
            margin-bottom: $margin-xl;

            span {
                color: $primary-blue;
            }
        }

        .party__slider {
            position: relative;
            padding-bottom: 108px;

            .slide {
                margin: 0 6px;
                width: 450px;
                height: 692px;
                display: flex;
                flex-direction: column;
                padding: 24px;
                border-radius: 32px;
                background: $primary-light;
                img {
                    border-radius: $border-radius-m;
                    object-fit: cover;
                    margin-bottom: $margin-xs;
                }
                h3 {
                    color: $primary-dark;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0;
                }
                &__prize {
                    margin-bottom: $margin-xs;
                    margin-top: auto;
                    position: relative;
                    background-color: $primary-blue;
                    padding: $margin-xs;
                    border-radius: $border-radius-m;
                    h4 {
                        color: $primary-light;
                        font-size: 31px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        display: inline-flex;
                        gap: $margin-xxs;
                        padding: 4px 8px;
                        border-radius: $border-radius-s;
                        background: $primary-light;
                        color: $primary-dark;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        span {
                            color: $error-color;
                            font-weight: 500;
                        }
                    }
                    img {
                        position: absolute;
                        width: 151px;
                        transform: rotate(12deg);
                        bottom: 0;
                        right: 8px;
                    }
                }
                &__buttons {
                    display: flex;
                    gap: $margin-xs;
                    a {
                        text-decoration: none;
                        &:first-child {
                            @include button-outlined;
                            border-radius: 62px;
                            gap: 8px;
                        }
                        &:last-child {
                            @include button-yellow;
                        }
                    }
                }
                .slick-arrow {
                    font-size: 0;
                    background-image: url('../../img/slider-arrow.svg');
                    border: none;
                    background-color: transparent;
                    width: 64px;
                    height: 64px;
                }
                .slick-prev {
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: calc(50% - 74px);
                }
                .slick-next {
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    right: calc(50% - 74px);
                    transform: rotate(180deg);
                }
            }
        }
    }

    .slider {
        margin-bottom: 160px;

        position: relative;
        z-index: 100;

        svg {
            position: absolute;
            bottom: -365px;
            right: 0;
            left: 0;
            z-index: 99;
        }

        &__container {
            position: relative;
            z-index: 100;
        }
    }

    .events {
        margin-bottom: $margin-xl;
        padding-bottom: 0;

        &__container {
            position: relative;
            z-index: 100;
            display: flex;
            flex-direction: column;
            gap: $margin-xl;
        }

        &__title {
            display: flex;
            flex-direction: column;
            max-width: 633px;
            color: $primary-blue;
            font-size: 64px;
            font-weight: 600;

            div {
                align-self: end;
                margin-right: 30px;

                span {
                    color: $primary-dark;
                }

                img {
                    width: 68px;
                    height: 68px;
                    transform: rotate(-7.806deg) translateY(10px);
                }
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $margin-xs;

            .card {
                @include card-item;
            }
        }
    }
}
